<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | UNSW Mini-Profiles</title>
</head>

<body style="background-image: url('{{backgroundimage}}');">
    <div>
        <link href="{{ url_for('static',filename='base.css') }}" rel="stylesheet" />
        <div class="base-container">
            <div class="base-container1">
                {% block content %}{% endblock %}
                <div class="base-container2">
                    <div class="base-container3">
                        <div class="base-container4">
                            <span class="base-text1">Mini-Profiles</span>
                        </div>
                        <form class="base-form1" method="post">
                            <div class="base-container5">
                                <input type="submit" class="base-button button" name="home" value="Home">
                                <input type="submit" class="base-button button" name="search" value="Search">
                                <input type="submit" class="base-button button" name="help" value="Help">
                            </div>
                        </form>
                    </div>
                    <div class="base-container6">
                        <div class="base-container7">
                            <span class="base-text2">{{name}}</span>
                            <span style="font-style: italic;">{{zid}}</span>
                        </div>
                        <img src="{{ url_for('static',filename='assets/actual-profile-user.png') }}" alt="image" class="base-image2" />
                        <form class="base-form2" method="post">
                            <div class="base-container8">
                                <input type="submit" name="settings" class="base-button1 button" value="">
                                <input type="submit" name="logout" class="base-button2 button" value="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>