{% extends "base.html" %} {% block title %}Change Password{% endblock %} {% block content %}
<link href="{{ url_for('static',filename='changepassword.css') }}" rel="stylesheet" />
<div class="changepassword-container">
    <div class="changepassword-container1">
        <div class="changepassword-container2">
            <span class="changepassword-text1">Change Password</span>
        </div>
        <span>Make sure you have a password that meets the following criteria:</span>
        <br />
        <span></span>
        <br />
        <span>- 8 or more characters</span>
        <br />
        <span>- at least 1 lower case and upper case letter</span>
        <br />
        <span>- 1 or more numbers</span>
        <form method="post" class="changepassword-form">
            <div class="changepassword-container3">
                <span style="margin-right: 12px;">Old Password:</span>
                <input type="password" name="oldpassword" placeholder="Your current password" class="changepassword-textinput input" required="required" />
            </div>
            <div class="changepassword-container3">
                <span style="margin-right: 12px;">New Password:</span>
                <input type="password" name="newpassword" placeholder="Your new password" class="changepassword-textinput input" required="required" />
            </div>
            <div class="changepassword-container3">
                <span style="margin-right: 12px;">Confirm New Password:</span>
                <input type="password" name="confirmpassword" placeholder="Re-entered Password" class="changepassword-textinput input" required="required" />
            </div>
            <div class="changepassword-container4">
                <input type="submit" class="changepassword-button1 button" name="changepassword" value="Confirm Changes" />
            </div>
        </form>
        <form method="post" class="changepassword-form1">
            <div class="changepassword-container5">
                <input type="submit" class="changepassword-button2 button" name="cancel" value="Cancel" />
            </div>
        </form>
    </div>
</div>
{% endblock %}