{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<link href="{{ url_for('static',filename='home.css') }}" rel="stylesheet" />
<div class="home-container"></div>
<div class="home-container1">
    <div class="home-container2">
        <span class="home-text">What&apos;s New!</span>
        <span class="home-text1">Read the latest form all of over UNSW.</span>
    </div>
    <div class="home-container3">
        {% for article in newsfeed %}
        <div class="home-container4">
            <div class="home-container5">
                <div class="home-container6">
                    {% for key, value in article.items() %} {% if key == "title" %}
                    <span class="home-text2">{{value}}</span> {% endif %} {% endfor %}
                </div>
                {% for key, value in article.items() %} {% if key == "date" %}
                <span class="home-text3">{{value}}</span> {% endif %} {% endfor %}
            </div>
            <div class="home-container7">
                {% for key, value in article.items() %} {% if key == "author" %}
                <span class="home-text4">{{value}}</span> {% endif %} {% endfor %}
            </div>
            {% for key, value in article.items() %} {% if key == "content" %}
            <span class="home-text5">{{value}}</span> {% endif %} {% endfor %} {% for key, value in article.items() %} {% if key == "link" %}
            <a href={{value}} target="_blank" rel="noreferrer noopener" class="home-link">&gt; Learn more</a> {% endif %} {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}