<div>
    <link href="{{ url_for('static',filename='styles/home.css') }}" rel="stylesheet" type= "text/css" />
    <div class="home-container">
      <div class="home-container01">
        <div class="home-container02">
          <img
            src="./assets/unsw_campus.jpg"
            alt="image"
            class="home-image"
          />
        </div>
        <div class="home-container03">
          <div class="home-container04"></div>
          <div class="home-container05">
            <div class="home-container06">
              <span class="home-text">Mini-Profiles</span>
            </div>
            <span class="home-text1">
              Mini-Profiles is a UNSW Project created by Vietlan Dinh. The aim of
              the project is to create an online database system where UNSW
              students can create and share profiles online which can be used by
              others to aid in finding suitable group members for group
              assignments.
            </span>
            <form class="home-form">
              <div class="home-container07">
                <label class="home-text2">Email:</label>
                <input
                  type="text"
                  placeholder="Email"
                  class="home-textinput input"
                />
              </div>
              <div class="home-container08">
                <label class="home-text3">Password:</label>
                <input
                  type="password"
                  placeholder="Password"
                  class="home-textinput1 input"
                />
              </div>
              <div class="home-container09">
                <button class="home-button button">Create Account</button>
                <button class="home-button1 button">Sign In</button>
              </div>
            </form>
          </div>
          <div class="home-container10">
            <img
              src="./assets/unsw_logo.png"
              alt="image"
              class="home-image1"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  