{% extends "base.html" %} {% block title %}{{studentid}}'s Profile{% endblock %} {% block content %}
<link href="{{ url_for('static',filename='profile.css') }}" rel="stylesheet" />
<div class="profile-container">
    <div class="profile-container1">
        <div class="profile-container2">
            <div class="profile-container6">
                {% for key, value in studentprofile.items() %} {% if key == "icon" %}
                <img src={{value}} alt="image" class="profile-image" /> {% endif %} {% endfor %}
                <span class="profile-text2">{{studentid}}</span> {% for key, value in studentprofile.items() %} {% if key == "gender" %}
                <span class="profile-text3">{{value}}</span> {% endif %} {% endfor %}
            </div>
            <div class="profile-container4">
                {% for key, value in studentprofile.items() %} {% if key == "facebook" and value != "" %}
                <div class="profile-container5">
                    <img src="{{ url_for('static',filename='assets/facebook.png') }}" alt="image" class="profile-socialicon" />
                    <a href="https://www.facebook.com/{{value}}" target="_blank" rel="noreferrer noopener" class="profile-link">Facebook</a>
                </div>
                {% endif %} {% endfor %} {% for key, value in studentprofile.items() %} {% if key == "twitter" and value != "" %}
                <div class="profile-container5">
                    <img src="{{ url_for('static',filename='assets/twitter.png') }}" alt="image" class="profile-socialicon" />
                    <a href="https://twitter.com/{{value}}" target="_blank" rel="noreferrer noopener" class="profile-link">Twitter</a>
                </div>
                {% endif %} {% endfor %} {% for key, value in studentprofile.items() %} {% if key == "instagram" and value != "" %}
                <div class="profile-container5">
                    <img src="{{ url_for('static',filename='assets/instagram.png') }}" alt="image" class="profile-socialicon" />
                    <a href="https://www.instagram.com/{{value}}" target="_blank" rel="noreferrer noopener" class="profile-link">Instagram</a>
                </div>
                {% endif %} {% endfor %}
            </div>
        </div>
        <div class="profile-container3">
            {% for key, value in studentprofile.items() %} {% if key == "name" %}
            <span class="profile-text1">{{value}}</span> {% endif %} {% endfor %}
            <div class="divider"></div>
            <span class="profile-text4">About Me</span> {% for key, value in studentprofile.items() %} {% if key == "aboutMe" %}
            <span>{{value}}</span> {% endif %} {% endfor %}
            <div class="divider"></div>
            <span class="profile-text4">Strengths</span> {% for strength in strengthlist %}
            <span>{{strength}}</span> {% endfor %}
            <div class="divider"></div>
            <span class="profile-text4">Courses</span> {% for course in courselist %}
            <span>{{course}}</span> {% endfor %}
            <div class="divider"></div>
            <span class="profile-text4">Interests</span> {% for key, value in studentprofile.items() %} {% if key == "interests" %}
            <span>{{value}}</span> {% endif %} {% endfor %}
        </div>
    </div>
</div>
{% endblock %}