{% extends "base.html" %} {% block title %}Search{% endblock %} {% block content %}
<link href="{{ url_for('static',filename='search.css') }}" rel="stylesheet" />
<div class="search-container">
    <div class="search-container1">
        <div class="search-container8">
            <span class="search-text1">Search</span>
            <div class="search-container5">
                <form method="post">
                    <div class="search-container6">
                        <div class="search-container7">
                            <span style="margin-right: 12px;">View Profile:</span>
                            <input type="text" name="zidinput" placeholder="eg. z1111111" class="search-textinput input" required="required" />
                        </div>
                        <input type="submit" class="search-button1 button" name="searchbyid" value="View" />
                    </div>
                </form>
            </div>
        </div>
        <span style="margin-bottom: 24px;">Have a zID you want to look up? Want to find people by their strengths or courses? 
            Input into the search or filters below to find those who you may want to connect with!
        </span>
        <div class="search-container2">
            <div>
                <form method="post">
                    <div class="search-container3">
                        <div class="search-container4">
                            <span style="margin-bottom: 12px; font-weight: bold;">Filter by Courses</span>
                        </div>
                        <div style="width: 100%; height: 200px; overflow: auto;">
                            {% for course in courselist %}
                            <div style="display: flex; flex-direction: row;">
                                <input type="checkbox" name="courseselection" value="{{course}}"> {{course}}
                            </div> {% endfor %}
                        </div>
                        <div style="height: 12px;"></div>
                        <div class="search-container4">
                            <input type="submit" class="search-button1 button" name="searchbycourse" value="Search" />
                            <input type="reset" class="search-button2 button" name="resetvalues" value="Reset" />
                        </div>
                        <div class="search-container4">
                            <a href=help target="_blank" rel="noreferrer noopener" class="search-link">Need help? Visit here for more.</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="divider"></div>
            <div>
                <form method="post">
                    <div class="search-container3">
                        <div class="search-container4">
                            <span style="margin-bottom: 12px; font-weight: bold;">Filter by Strength</span>
                        </div>
                        <div style="width: 100%; height: 200px; overflow: auto;">
                            {% for strength in strengthlist %}
                            <div style="display: flex; flex-direction: row;">
                                <input type="checkbox" name="strengthselection" value="{{strength}}"> {{strength}}
                            </div> {% endfor %}
                        </div>
                        <div style="height: 12px;"></div>
                        <div class="search-container4">
                            <input type="submit" class="search-button1 button" name="searchbystrength" value="Search" />
                            <input type="reset" class="search-button2 button" name="resetvalues" value="Reset" />
                        </div>
                        <div class="search-container4">
                            <a href=help target="_blank" rel="noreferrer noopener" class="search-link">Need help? Visit here for more.</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}