body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

.changepassword-container {
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 80px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changepassword-container1 {
    flex: 0 0 auto;
    width: auto;
    padding: 60px;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255);
    border-radius: 16px;
    position: relative;
}

.changepassword-container2 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
    background-color: #000000;
    transition-duration: 0.15s;
    margin-bottom: 18px;
}

.changepassword-container3 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: 12px;
}

.changepassword-container4 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    margin-top: 80px;
}

.changepassword-container5 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.changepassword-text1 {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.changepassword-form {
    width: 100%;
    margin-top: 24px;
}

.changepassword-form1 {
    width: 100%;
    margin-top: 12px;
}

.changepassword-textinput {
    height: 30px;
    width: 225px;
    padding-left: 10px;
    background-color: #3a3a3a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition-duration: 0.15s;
    font-size: 12px;
    font-family: arial;
}

.changepassword-textinput:focus {
    background-color: #505050;
}

.changepassword-button1 {
    color: #ffffff;
    width: 100%;
    background-color: #000000;
    border-radius: 5px;
    padding: 10px;
    border: none;
    transition-duration: 0.15s;
}

.changepassword-button1:hover {
    filter: opacity(70%);
    cursor: pointer;
}

.changepassword-button1:focus {
    filter: opacity(85%);
}

.changepassword-button2 {
    color: #000000;
    width: 100%;
    background-color: #cfcfcf;
    border-radius: 5px;
    padding: 10px;
    border: none;
    transition-duration: 0.15s;
}

.changepassword-button2:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.changepassword-button2:focus {
    filter: brightness(90%);
}