body {
    font-family: arial;
    background: black;
    background-image: url("assets/unsw_garden_party.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.create-account-container1 {
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    right: 0px;
    top: 0px;
}

.create-account-form {
    margin-top: 12px;
    width: 400px;
}

.create-account-button {
    color: #ffffff;
    text-align: center;
    background-color: #000000;
    border-radius: 5px;
    padding: 10px;
    border: none;
    transition-duration: 0.15s;
}

.create-account-button:hover {
    filter: opacity(70%);
    cursor: pointer;
}

.create-account-button:focus {
    filter: opacity(85%);
}

.create-account-text02 {
    color: #ffffff;
    background-color: #000000;
}

.create-account-form1 {
    width: 400px;
    position: relative;
}

.create-account-container3 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.create-account-text03 {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 12px;
}

.create-account-text04 {
    margin-bottom: 12px;
}

.create-account-container4 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-top: 12px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.create-account-text14 {
    font-style: normal;
    font-weight: 600;
    margin-right: 12px;
}

.create-account-textinput {
    width: 225px;
    height: 30px;
    padding-left: 10px;
    background-color: #3a3a3a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition-duration: 0.15s;
}

.create-account-textinput:focus {
    background-color: #505050;
}

.create-account-container5 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-top: 12px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.create-account-text15 {
    font-style: normal;
    font-weight: 600;
    margin-right: 12px;
}

.create-account-container6 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    margin-top: 12px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.create-account-container7 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.create-account-container8 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
}

.create-account-text16 {
    text-align: right;
    font-style: normal;
    font-weight: 600;
    margin-right: 12px;
}

.create-account-button1 {
    color: #ffffff;
    margin-top: 12px;
    background-color: #000000;
    border-radius: 5px;
    padding: 10px;
    border: none;
    transition-duration: 0.15s;
}

.create-account-button1:hover {
    filter: opacity(70%);
    cursor: pointer;
}

.create-account-button1:focus {
    filter: opacity(85%);
}