body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

.home-container {
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 80px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
}

.home-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.home-container2 {
    margin-top: 80px;
    flex: 0 0 auto;
    height: 160px;
    width: 100%;
    padding-left: 140px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.home-text {
    color: #ffffff;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 12px;
    transition-duration: 0.15s;
}

.home-text1 {
    color: #ffffff;
    transition-duration: 0.15s;
}

.home-container3 {
    flex: 0 0 auto;
    width: 95%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 28px;
}

.home-container4 {
    flex: 0 0 auto;
    width: auto;
    display: flex;
    padding: 24px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
    margin-bottom: 20px;
    position: relative;
    transition-duration: 0.15s;
}

.home-container5 {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;
}

.home-container6 {
    flex: 0 0 auto;
    display: flex;
    padding: 8px;
    align-items: flex-start;
    background-color: #000000;
}

.home-container7 {
    flex: 0 0 auto;
    display: flex;
    padding: 6px;
    align-items: flex-start;
    background-color: #000000;
    margin-bottom: 16px;
}

.home-text2 {
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.home-text3 {
    font-style: italic;
}

.home-text4 {
    color: #ffffff;
    font-style: normal;
    font-size: 12px;
}

.home-text5 {
    margin-bottom: 12px;
    color: rgb(143, 143, 143);
}

.home-link {
    color: #009dff;
    text-decoration: none;
}

.home-link:hover {
    cursor: pointer;
    filter: opacity(70%);
}

.home-link:hover {
    filter: opacity(85%);
}