body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

.results-container1 {
    top: 80px;
    flex: 0 0 auto;
    width: auto;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 60px;
    padding-top: 40px;
    height: auto;
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
}

.results-text1 {
    color: white;
    font-weight: bold;
    font-size: 36px;
    margin-top: 6px;
    margin-left: 12px;
}

.results-text2 {
    color: white;
    margin-top: 9px;
    margin-left: 12px;
    margin-bottom: 12px;
}