body {
    font-family: arial;
    margin: 0;
    padding: 0;
}

.settings-container {
    top: 80px;
    flex: 0 0 auto;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 60px;
    padding-top: 40px;
    height: auto;
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(255, 255, 255);
}

.settings-container1 {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    display: flex;
    padding: 10px;
    align-items: flex-start;
    justify-content: center;
    background-color: #000000;
    transition-duration: 0.15s;
    margin-bottom: 36px;
}

.settings-text1 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.settings-text2 {
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.settings-text3 {
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 6px;
}

.input-file-image {
    color: rgb(0, 0, 0);
    font-style: italic;
    margin-bottom: 12px;
    width: 100%;
}

.settings-container2 {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.divider {
    height: 100%;
    width: 1px;
    background-color: grey;
    margin-left: 50px;
    margin-right: 50px;
}

.settings-container3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.settings-container4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.settings-container5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: 425px;
    margin-bottom: 12px;
}

.settings-container7 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
    width: 425px;
    margin-bottom: 12px;
}

.settings-container6 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.settings-container8 {
    margin-top: 6px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100%;
}

.settings-image {
    width: 200px;
    height: 200px;
    border: white;
    border-width: 5px;
    border-radius: 999px;
}

.settings-textinput {
    height: 30px;
    width: 225px;
    padding-left: 10px;
    background-color: #3a3a3a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition-duration: 0.15s;
    font-size: 12px;
    font-family: arial;
}

.settings-textarea {
    height: 120px;
    max-height: 240px;
    min-height: 120px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    padding-left: 10px;
    background-color: #3a3a3a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition-duration: 0.15s;
    font-size: 12px;
    font-family: arial;
}

.settings-textinput:focus {
    background-color: #505050;
}

.settings-button1 {
    color: #ffffff;
    background-color: #000000;
    border-radius: 5px;
    padding: 10px;
    border: none;
    transition-duration: 0.15s;
}

.settings-button1:hover {
    filter: opacity(70%);
    cursor: pointer;
}

.settings-button1:focus {
    filter: opacity(85%);
}

.settings-button2 {
    color: #000000;
    background-color: #cfcfcf;
    border-radius: 5px;
    padding: 10px;
    margin-left: 12px;
    border: none;
    transition-duration: 0.15s;
}

.settings-button2:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.settings-button2:focus {
    filter: brightness(90%);
}