body {
  font-family: arial;
}
.sign-in-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.sign-in-container01 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.sign-in-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.sign-in-container02 {
  flex: 0 0 auto;
  width: 50%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
}
.sign-in-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  display: flex;
  align-self: center;
  align-items: flex-start;
}
.sign-in-container04 {
  flex: 0 0 auto;
  width: 400px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.sign-in-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 12px;
  align-items: flex-start;
  padding-top: 12px;
  padding-left: 12px;
  margin-bottom: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  justify-content: center;
  background-color: #000000;
}
.sign-in-text {
  color: #ffffff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.sign-in-text1 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.sign-in-form {
  width: 100%;
}
.sign-in-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 12px;
  align-items: center;
  margin-bottom: 12px;
  flex-direction: row;
  justify-content: flex-end;
}
.sign-in-text2 {
  font-style: normal;
  font-weight: 600;
  margin-right: 12px;
}.sign-in-textinput {
  width: 275px;
  height: 30px;
  padding-left: 10px;
  background-color: #3a3a3a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.sign-in-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 12px;
  align-items: center;
  margin-bottom: 12px;
  flex-direction: row;
  justify-content: flex-end;
}
.sign-in-text3 {
  font-style: normal;
  font-weight: 600;
  margin-right: 12px;
}
.sign-in-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 12px;
  align-items: center;
  margin-bottom: 12px;
  flex-direction: row;
  justify-content: flex-end;
}
.sign-in-button {
  color: #ffffff;
  margin-left: 12px;
  background-color: #000000;
  border-radius: 5px;
  padding: 10px;
  border: none;
  transition-duration: 0.5s;
}
.sign-in-button:hover {
  background-color: #222222;
  cursor:pointer;
}
.sign-in-form1 {
  width: 100%;
  margin-bottom: 12px;
}
.sign-in-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.sign-in-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: 200px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sign-in-image1 {
  width: 100px;
  object-fit: cover;
}
